.trade-header {
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
}

.trade-glass {
    margin-right: 30px;
    position: absolute;
    top: 150px;
    right: 50px;
}

.trade-table {
    width: 200px;
    border: 1px solid #666666;
    border-radius: 7px;
    padding: 7px;
    width: 500px;
}

.trade-head {
    font-weight: 500;
    font-size: 12px;
    padding-right: 40px;
}

.trade-row {
    height: 50px;
    background-color: #68f78e44;
    color: #1fb824;
}

.TradeView {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50vw;
    height: 100vw;
    background-color: white;
    color: black;
    z-index: 10000;
}