.loader {
    border: 5px solid #dadada;
    border-top: 5px solid #303036;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 3s linear infinite;
    margin-left: 4px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

@media screen and (min-width: 600px) { 
    .loader {
        border: 7px solid #dadada;
        border-top: 7px solid #303036;
        width: 50px;
        height: 50px;
    }
}