.menu {
    position: fixed;
    width: 100vw;
    height: 55px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid #dddddd;
    background-color: white;
    z-index: 1000000;
}

.dashboard--logo {
    position: absolute;
    width: 200px;
    left: 45px;
    top: 10px;
}

.menu-links {
    position: absolute;
    left: 280px;
    top: 0px;
    display: block;
    width: calc(100% - 280px);
}

.menu-search {
    display: inline-block;
    height: 30px;
    width: 200px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: none;
    outline: none;
    border: 1px solid #ddddbb;
    border-radius: 3px;
}

.menu-search:hover {
    border: 1px solid #bbbbdd;
}

.menu-action {
    margin-left: 5px;
    display: inline-block;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 3px;
    background: none;
    background-color: #110011;
    color: white;
    font-weight: 800;
    margin-right: 20px;
}

.menu-action:hover {
    cursor: pointer;
    background-color: #494fe6;
}


.menu-link {
    top: 0px;
    display: inline-block;
    font-weight: 700;
    text-emphasis: none;
    color: black;
    height: 37px;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    text-decoration: none;
    vertical-align: center;
}

.open-link .menu-link {
    border-bottom: 2px solid black;
}

.menu-link:hover {
    color: #494fe6;
}

.open-link .menu-link:hover {
    border-bottom: 2px solid #494fe6;
}

.right-link {
    float: right;
}

.menu-balance {
    height: 70px;
    font-size: 13px;
    padding-top: 18px;
    font-weight: 800;
    margin-right: 30px;
    float: right;
}