.stock {
    display: block;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ececec;
    padding-top: 15px;
    padding-bottom: 0px;
    height: 60px !important;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 1px
}


@media screen and (min-width: 1000px) {
    .stock:hover {
        border-top: 1px solid transparent;
        animation: addShadow 0.5s ease forwards;
        border-radius: 7px;
    }
}

.stock__icon {
    margin-left: 5px;
    margin-top: 5px;
    vertical-align: top;
    display: inline-block;
    height: 34px;
    width: 34px;
    border-radius: 17px;
    object-fit: cover;
    border: 1px solid #e6e6e6;
}

.stock__left {
    margin-top: 0px;
    vertical-align: top;
    display: inline-block;
    height: 50px;
    margin-left: 13px;
    white-space: nowrap;
}

.stock__left__name {
    font-size: 14px;
    font-weight: 800;
    color: #202022;
    overflow: hidden;
}

.stock__left__ticker {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 600;
    color: #9d9d9e;
}

.stock__right {
    margin-top: -2px;
    vertical-align: top;
    height: 50px;
    margin-right: 10px;
    float: right;
    text-align: right;
    white-space: nowrap;
}

.stock__right__value {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 800;
    color: black;
}

.stock__right__change {
    margin-top: 3px;
    font-size: 12px;
    font-weight: 700;
}

.stock--nohover {
    pointer-events: none;
}