.menu {
    position: fixed;
    padding-top: env(safe-area-inset-top);

    top: 0px;
    left: 0px;
    width: 100vw;
    height: 91px;
    
    z-index: 10000 !important;
    background-color: white;
    border-bottom: 3px solid #dddddd77;
    
    overflow-x: hidden;
    overflow-y: hidden;

    margin-bottom: -2px;
}

.inverted {
    filter: invert(1);
}

.menu__icon {
    display: block;
    position: fixed;
    margin-top: 4px;
    margin-left: 10px;
    height: 38px;
    z-index: 10001 !important;
}

.menu__avatar {
    float: right;
    display: block;
    object-fit: cover;
    width: 29px;
    height: 29px;
    border-radius: 20px;
    margin-right: 9px;
    margin-top: 6px;
    z-index: 10001 !important;
    border: 1px solid black;
}

.menu__notifications {
    display: none
}

.menu__notifications--mobile {
    margin-top: 11px;
    margin-right: 13px;
    float: right;
    display: block;
    padding-left: 20px;
    padding-right: 0px;
    height: 20px;
    width: 40px;
    font-family: 'Manrope';
    font-size: 30px;
    font-weight: 800;
    text-align: right;
    color: #2c2c2c;
    line-height: 20px;
}

.menu__status {
    float: right;
    display: block;
    padding-top: 13px;
    margin-right: 10px;
    text-align: right;
    font-size: 12px;
    color: black;
    z-index: 10001 !important;
}

.menu__status__worth {
    font-weight: 700;
    margin-top: 10px;
    z-index: 10001 !important;
}

.menu__status__balance {
    display: block;
    font-weight: 600;
    color: #464646;
    margin-top: -2px;
    z-index: 10001 !important;
}

.menu__tabs {
    display: block;
    position: absolute;
    font-weight: 800;
    padding-left: 15px;
    padding-right: 0px;
    margin-right: 10px;
    padding-top: 30px;
    font-size: 12px;
    top: 30px;
    z-index: 100001;
    max-width: calc(100vw - 10px) !important;
    letter-spacing: 0.5px;
    width: 100vw;
    height: 120px;
    overflow-x: scroll;
    overflow-y: visible;
}

.menu__tabs__stop {
    display: block;
    margin-right: -20px;
    width: 200px;
}

.menu__tabs__tab {
    margin-top: 10px;

    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 2px;
    margin-right: 15px;
    color: #707070;
    text-decoration: none;
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 600;
    text-align: left;
}

.menu__tabs__tab--selected {
    color: black;
    border-bottom: 2px solid #39393b;
    font-weight: 700;
}

.noMobile {
    display: none;
}

@media screen and (min-width: 1000px) {
    .noMobile {
        display: inline;
        font-weight: 600;
    }

    .menu {
        display: block;
        position: fixed;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100vw - 40px) !important;
        border-bottom: 0px solid #ebebeb;
        background-color: #ffffffdc;
        backdrop-filter: blur(12px);
    }

    .menu__icon {
        position: fixed;
    }

    .menu__avatar {
        border-width: 2px;
        width: 30px;
        height: 30px;
        border-radius: 20px;
    }

    .menu__avatar:hover {
        animation: addShadow 0.5s ease forwards;
    }


    .menu__notifications {
        float: right;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 4px;
        font-family: 'Manrope';
        font-weight: 800;
        text-align: center;
        border-radius: 20px;
        color: #2e2e2e;
        background-color: #ececec;

        margin-top: 8px;
        margin-right: 20px;
        font-size: 13px;
        line-height: 20px;
    }

    .menu__notifications:hover {
        color: #ececec;
        background-color: #2e2e2e;
    }

    .menu__notifications--mobile {
        display: none;
    }

    .menu__icon {
        top: 2px;
        left: 15px;
        height: 35px;
    }
    
    .menu__tabs {
        top: 48px;
        font-size: 12px;
        padding-top: 10px;
        position: fixed;
        display: block;
        left: 150px;
        top: 5px;
        z-index: 10001;
        max-width: 700px !important;
        max-height: 80px;
    }

    .menu__tabs__tab {
        margin-top: 0px;
        padding-bottom: 10px;
        background-color: transparent;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 0px;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 800;
        letter-spacing: 0.8px;
        color: #8b8b8b;
    }

    .menu__tabs__tab:hover {
        background: none !important;
    }

    .menu__status {
        display: block;
        padding-top: 12px;
        font-size: 15px;
        z-index: 10050;
    }

    .menu__tabs__tab:hover {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding-top: 10px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f7f6f1);
        border-bottom: 3px solid transparent;
        color: #ca851d;
    }

    .menu__tabs__tab--selected {
        color: #000000;
        background: none;
        border: none;
        border-radius: 0px;
        box-shadow: none;
        font-weight: 900;
    }

    .menu__tabs__tab--selected:hover {
    }

    .menu__status__worth {
        font-weight: 900;
        font-size: 13px;
        color: #707070;
        margin-right: 20px;
    }
}