.row {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
    line-height: 15px;
}

.row__key {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 700;
    color: #7a7881;
    text-decoration: none;
    border: none;
}

.row--canhover:hover {
    animation: addShadow 0.5s ease forwards;
}

.row--large {
    margin-top: 20px;
    margin-bottom: -30px;
}

.row__key--large {
    font-size: 19px;
    margin-left: 5px;
    color: #111011;
}

.row__value {
    margin-top: 3px;
    float: right;
    text-align: right;
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px;
    text-decoration: none;
}


@media screen and (min-width: 1000px) {
    .row {
        height: 20px;
    }

    .row--large {
        margin-top: 20px;
        margin-bottom: -20px;
    }
}