

.dashboard--header {
    position: absolute;
    left: 50px;
    top: 100px;
    font-size: 27px;
    font-weight: 900;
    color: #1f1f20;
}

.dashboard--add {
    position: absolute;
    left: 50px;
    top: 140px;
    font-size: 14px;
    font-weight: 700;
    color: #858585;
}

.dashboard--table {
    position: absolute;
    left: 50px;
    top: 220px;
    width: calc(100% - 70px);
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgb(218, 218, 218);
}

.dashboard--table--name {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 25px;
    height: 30px;
    color: #1f1f20;
}

.dashboard--table--header {
    text-align: left;
    font-weight: 800;
    font-size: 13px;
    padding-bottom: 8px;
    color: #18181a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.dashboard--table--header:hover {
    background-color: none;
}

.dashboard--table--hrow {
    background-color: rgb(239, 240, 247);
}

.dashboard--table--row {
    border-collapse: collapse;
    height: 40px;
    cursor: pointer;
    border: 10px solid white;
    border-radius: 3px;
}

.dashboard--table--row:hover {
    background-color: #e9e9f0;
}

.dashboard--table--row--cell {
    margin-left: 30px;
}

.dashboard--table--row--cell--symbol {
    font-family:  monospace;
    font-weight: 700;
    color: rgb(170, 170, 170);
}

.dashboard--table--row--cell__left {
}

.dashboard--table--row--cell--image {

}
.dashboard--table--row--cell--name {
    font-size: 13px;
    font-weight: 600;
}
.dashboard--table--row--cell--value {
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}

.dashboard--table--row--cell--trend--arrow {
    font-size: 16px;
    font-weight: 600;
}

.dashboard--table--row--cell--button {
    color: rgb(31, 31, 31);
    border: 2px solid #e6e7eb;
    background: none;
    border-radius: 2px;
    height: 30px;
    border-radius: 3px;
    font-family: 'Manrope';
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: -3px;
}

.dashboard--table--row--cell--button:hover {
    color: white;
    background-color: rgb(31, 31, 31);
}