.ticker-ticker {
    font-size: 42px;
    font-weight: 900;
    width: 200px;
    text-transform: uppercase;
}

.ticker-symbols {
    margin-left: 120px;
    position: relative;
    background-color: #ffffff22;
    z-index: 1000;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.ticker-graph {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 850px;
    z-index: 2000000;
}

.ticker-name {
    width: 400px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 0px;
    color: #666666;
}

.ticker-price {
    position: relative;
    width: 400px;
    margin-top: 30px;
    font-size: 45px;
    font-weight: 500;
    color: #494fe6;
    z-index: 10000000;
}

.ticker-hint {
    width: 400px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}

.ticker-smallprice {
    width: 400px;
    margin-top: 3px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 15px;
}

.ticker-sell {
    position: absolute;
    right: 50px;
    top: 20px;
    text-align: right;
    z-index: 2000;
}

.ticker-block {
    margin-bottom: 40px;
    display: inline-block;
    width: 160px;
}

.ticker-label {
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}

.ticker-value {
    font-weight: 700;
    font-size: 15px;
}

.ticker-description {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 50px;
}

.ticker-action {
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
    background-color: #494fe6;
    border: 2px solid #494fe6;
    color: white;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}

.ticker-action:hover {
    position: relative;
    color: #494fe6;
    background-color: white;
    cursor: pointer;
    z-index: 300;
}

.ticker-info {
    position: absolute;
    top: 535px;
    left: 45px;
    width: 1200px;
}

.ticker-tab {
    color: #112211;
    font-weight: 800;
    font-size: 17px;
    margin-bottom: 20px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
}

.ticker-message {
    white-space: normal;
    margin-left: -10px;
    margin-bottom: 20px;
    vertical-align: top;
    position: relative;
    z-index: 5000;
    background-color: #ffffff33;
    margin-right: 20px;
    display: inline-block;
    height: 180px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 20px 20px #dddddd22;
    border: 1px solid white;
    padding: none;
    text-decoration: none;
    color: black;
}

.ticker-message:hover {
    background-color: #ffffff;
    border: 1px solid #00000055;
    cursor: pointer;
}

.ticker-message-icon {
    vertical-align: top;
    display: inline-block;
    border-radius: 12px;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    margin-top: 15px;
}

.ticker-message-header {
    margin-top: 19px;
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
    color: black;
    margin-right: 15px;
    font-weight: 800;
    font-size: 13px;
    color: #301a0a;
}

.ticker-message-text {
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: 0.2px;
}