.landing__view__container {
    width: 100vw;
    height: 100vh;
    background-color: #0a0a13;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 9999;
    pointer-events: all;
    display: block;
    overflow: none;
    overflow-y: scroll;
}

.landing__view__bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    opacity: 0.2;
    background-size: cover;
}

.landing__view {
    padding-top: 120px;
    color: white;
    position: absolute;
    width: 300px;
    min-height: 600px;
    height: calc(100vh - 120px);
    left: calc(50vw - 150px);
    overflow-y: scroll;
    overflow-x: visible;
    pointer-events: all;
    padding-bottom: 200px;
}

.landing__bg {
    width: 300px;
}

.landing__header {
    color: white;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    margin-top: 40px;
    max-width: 300px;
    animation: reveal 0.8s ease forwards;
}

.landing__text {
    color: white;
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 575px;
    max-width: 300px;
    animation: reveal 0.8s ease forwards;
}


.landing__buttons {
    position: absolute;
    top: 650px;
    max-width: 300px;
    margin-bottom: 100px;
    height: 100px;
    animation: reveal 0.8s ease forwards;
}

.landing__login {
    display: inline-block;
    width: 300px;
    box-shadow: none;
    border: none;
    height: 50px;
    border-radius: 7px;
    margin-bottom: 5px;
    font-family: 'Manrope';
    font-weight: 800;
    font-size: 14px;
    border: 1px solid #1b1c1d;
}


@media screen and (min-width: 800px) {

    .landing__view__bg {
        left: 0px;
    }

    .landing__view {
        padding-top: 40px;
        width: 800px;
        height: 100vh;
        text-align: center;
        left: calc(50vw - 400px);
        padding-bottom: 100px;
    }

    .landing__bg {
        top: 110px;
        width: 400px;
        position: absolute;
        left: calc(50% - 200px);
    }
    
    .landing__header {
        font-family: 'Manrope';
        font-weight: 700;
        font-size: 25px;
        top: 400px;
        width: 800px;
        position: absolute;
        left: calc(50% - 400px);
        text-align: center;
        max-width: 2000px;
    }

    .landing__text {
        position: absolute;
        left: calc(50% - 250px);
        top: 540px;
        width: 500px;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        max-width: 2000px;
    }

    .landing__buttons {
        position: absolute;
        left: calc(50% - 305px);
        top: 600px;
        width: 610px;
        text-align: center;
        max-width: 2000px;
    }
    
    .landing__login {
        margin-right: 5px;
        width: 300px;
        height: 50px;
        font-family: 'Manrope';
        border-radius: 5px;
        color: black;
        background-color: rgb(138, 138, 138);
        font-weight: 800;
        font-size: 15px;
        max-width: 2000px;
        letter-spacing: 0.3px;
    }

}

.landing__login--tj {
    background-color: #FFE577;
    border: 1px solid #FFE577;
}

.landing__login--tj:hover {
    box-shadow: 0px 0px 10px 5px  #ffe6778f;
    border: 1px solid white;
}


.landing__login--dtf {
    background-color: #D1EDFF;
    border: 1px solid #D1EDFF;
}

.landing__login--dtf:hover {
    box-shadow: 0px 0px 10px 5px  #D1EDFF8f;
    border: 1px solid white;
}