.button {
    width: calc(100% - 10px);
    margin-left: 5px;
    border-radius: 10px;
    height: 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.1;
    font-family: 'Manrope';
    display: block;
    border: none;
    box-shadow: none;
}

@media screen and (min-width: 600px) {
    .button {
        width: 260px;
        display: inline-block !important;
        vertical-align: top;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0px;
        border-radius: 5px;
        margin-right: 10px;
        margin-bottom: 15px;
        height: 45px;
        outline: none;
        font-size: 14.8px;
        border: none;
    }

    .button:hover {
        animation: button--hover 0.15s ease forwards;
        cursor: pointer;
    }

    @keyframes addShadow {
        from {
            box-shadow: none;
        }
        to { 
            box-shadow: 0px 0px 8px 4px #12131418;
        }
    }

    @keyframes button--hover {
        from {
            box-shadow: none;
        }
        to { 
            box-shadow: 0px 2px 5px 2px #1c1d1d17;
            font-size: 14.8px;
        }
    }
}


@media screen and (min-width: 1000px) {
    .button {
        width: 320px;
    }
}