.landing {
    background-color: white;
    color: #080b1a;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.landing--bg {
    position: absolute;
    width: 400px;
    left: calc(50% - 200px);
    top: calc(10% + 10px);   
}

.landing--logo {
    position: absolute;
    width: 150px;
    left: 20px;
    top: 20px;
}

.landing--hello {
    position: absolute;
    width: 600px;
    left: calc(50% - 300px);
    top: calc(10% + 290px);   
    color: #080b1a;  
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}

.landing--description {
    position: absolute;
    width: 600px;
    left: calc(50% - 300px);
    top: calc(10% + 370px); 
    color: #080b1a;  
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.landing--buttons {
    position: absolute;
    width: 600px;
    left: calc(50% - 300px);
    top: calc(10% + 500px); 
    color: #080b1a;  
    font-size: 22px;
    text-align: center;
}

.landing--button {
    display: inline-block;
    height: 50px;
    width: 250px;
    background-color: #0a0242;
    color: #080b1a;
    font-family: 'Cera Pro';
    box-shadow: none;
    margin: 5px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

.landing--button--tj {
    background-color: #fdd389;
    color: black;
}


.landing--button--dtf {
    background-color: #7adbff;
    color: black;
}

.landing--button:hover {
    cursor: pointer;
    background-color: #0a0242;
    color: #0a0242;
}

.landing--button--tj:hover {
    color: #f39c04;
    background: none;
    border: 2px solid #f39c04;
    box-shadow: 1px 1px 460px 30px #f1dab344;
}

.landing--button--dtf:hover {
    color: #116aa5;
    background: none;
    border: 2px solid #116aa5;
    box-shadow: 1px 1px 460px 30px #a4d7e944;
}

