.input {
    width: 100%;
    margin-left: 0px;
}

.input__header {
    font-weight: 700;
    color: #929292;
    font-size: 14px;
}

.input__field {
    padding-left: 15px;
    width: calc(100% - 25px);
    margin-top: 10px;
    margin-bottom: 35px;
    border: none;
    height: 55px;
    box-shadow: none;
    border-radius: 7px;
    background-color: #f4f5f8;
    border: 1px solid #f4f5f8;
    font-weight: 600;
    font-family: 'Manrope';
    font-size: 17px;
}

@media screen and (min-width: 1000px) {
    .input__field:hover {
        background-color: white;
        border-color: white;
        animation: addShadow 0.3s ease forwards;
    }

    .input__field {
        border: 1px solid #d3d3d3;
        height: 42px;
        max-width: 400px;
        margin-top: 10px;
        overflow: none;
    }
}